.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 150px;
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-title {
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 36px;
  }
}

.about-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 138px;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @include media(desktop) {
    margin: 0;
  }
}

.about-text-wrapper {
  @include media(desktop) {
    max-width: 522px;
    margin-left: 108px;
  }
}

.about-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2e2a3b;
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 29px;
  }
}

.about-text-span {
  font-weight: 700;

  @include media(desktop) {
  }
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;

  @include media(desktop) {
    justify-content: start;
    gap: 0;
  }
}

.about-lis-item {
  background: #a29bfe;
  border-radius: 60px;
  padding: 12px;

  @include media(desktop) {
  }
}

.about-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2e2a3b;

  @include media(desktop) {
  }
}
