.faq-contact-bg-wrapper {
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/contact/contact-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom 54px center;
  background-size: auto;

  @include media(desktop) {
    background-image: url(../img/contact/contact-bg-desk.png);
    background-position: bottom 73px center;
  }
}

.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 1440px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-title {
  @include media(desktop) {
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo 2', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #155e63;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
