.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 46px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/contact/contact-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 358px;
    padding-bottom: 95px;
    max-width: 1440px;
    background-image: url(../img/contact/contact-bg-desk.png);
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  @include media(desktop) {
    max-width: 522px;
    margin-left: 108px;
  }
}

.contact-title {
  margin-bottom: 316px;

  @include media(desktop) {
    text-align: left;
    margin-bottom: 36px;
  }
}

.contact-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2e2a3b;
  margin-bottom: 28px;

  @include media(desktop) {
    margin-bottom: 36px;
  }
}

.contact-btn {
  @include media(desktop) {
    margin: 0;
  }
}
