.faq-section {
  padding-top: 80px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media(desktop) {
    gap: 12px;
  }
}

.faq-list-item {
  border-bottom: 1px solid #6c5ce7;
  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 630px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #6c5ce7;
  text-align: left;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  height: 36px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Rounded Mplus 1c', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2a3b;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
  }
}

.is-visible {
  margin-top: 10px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
}
