.footer {
  background: #6c5ce7;
  padding-top: 34px;
  padding-bottom: 34px;

  @include media(desktop) {
    padding-top: 46px;
    padding-bottom: 46px;
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: end;
    gap: 234px;
  }
}

.footer-nav {
  margin-bottom: 18px;

  @include media(desktop) {
    margin-bottom: 0;
    width: 100%;
    max-width: 256px;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    gap: 12px;
  }
}

.footer-link {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2e2a3b;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }

  &:hover,
  &:focus {
  }
}

.footer-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  color: #2e2a3b;

  @include media(desktop) {
    text-align: center;
  }
}
