.gameplay-section {
  @include media(desktop) {
    scroll-margin-top: 50px;
  }
}

.gameplay-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @include media(desktop) {
    padding-top: 50px;
    max-width: 1440px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-title {
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 36px;
  }
}

.gameplay-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    gap: 84px;
  }
}

.gameplay-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;

  @include media(desktop) {
    margin: 0;
  }
}

.gameplay-text-wrapper {
  @include media(desktop) {
    max-width: 522px;
    margin-right: 108px;
  }
}

.gameplay-subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 36px;
  }
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 18px;

  @include media(desktop) {
  }
}

.gameplay-list-item {
  display: flex;
  align-items: start;
  gap: 10px;

  @include media(desktop) {
  }
}

.gameplay-icon {
  min-width: 32px;

  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2a3b;

  @include media(desktop) {
  }
}

.gameplay-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2a3b;

  @include media(desktop) {
    margin-bottom: 29px;
  }
}

.gameplay-bg-img {
  position: absolute;
  top: 136px;
  right: 0;

  @include media(desktop) {
  }
}

.gameplay-left-bg-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 43px;
    left: 0;
  }
}
