.context-menu {
  background-image: url(../img/context/context-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: none;
  z-index: 5;
}

.context-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 34px;
}

.context-list-item {
}

.context-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #155e63;
  transition:
    color 0.3s ease-in-out,
    background 0.3s ease-in-out;

  &:active {
    color: #ff6b4a;
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
