.uniqueness-section {
  @include media(desktop) {
  }
}

.uniqueness-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 150px;
    max-width: 1440px;
  }
}

.uniqueness-container {
}

.uniqueness-title {
  @include media(desktop) {
  }
}

.uniqueness-swiper-container {
  max-width: 305px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.uniqueness-swiper-container.show {
  visibility: visible;
}

.uniqueness-swiper-wrapper {
  @include media(desktop) {
  }
}

.uniqueness-slide {
  width: 100%;
  max-width: 305px;

  @include media(desktop) {
  }
}

.uniqueness-img {
  @include media(desktop) {
  }
}

.controls {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 28px;
  }
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);

      .arrow-icon {
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      transform: none;
    }
  }
}

.arrow-icon {
}
