<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">About</h2>
      <div class="about-content-wrapper">
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="293"
            height="307" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="243"
            height="254" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="243"
            height="254"
            loading="lazy"
        /></picture>
        <div class="about-text-wrapper">
          <p class="about-text">
            Welcome to <span class="about-text-span"
              >Jigster: Jigsaw Puzzles</span
            >, a sliding tile puzzle game that’ll really test how well you can
            think spatially and recognize patterns — we’ve got hundreds
            of puzzles that look great too.
          </p>
          <ul class="about-list">
            <li class="about-lis-item">
              <p class="about-item-text">Start simple.</p>
            </li>
            <li class="about-lis-item">
              <p class="about-item-text">Think deeper.</p>
            </li>
            <li class="about-lis-item">
              <p class="about-item-text">Master every grid.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
