<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <h2 class="section-title contact-title">For All Puzzle Lovers</h2>
        <p class="contact-text">
          Whether you just want to chill out with some puzzles or you’re looking
          for a real brain challenge, we’ve got you covered.<br />
          Small grids build confidence.<br />
          Large grids demand mastery.<br />
          It grows with you as you get better.
        </p>
        <a
          class="hero-btn contact-btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.tsc.jigster&hl=en&gl=us"
          rel="noopener noreferrer"
          aria-label="Download on Google Play"
        >
          <img
            class="hero-play-img"
            src="./img/hero/hero-play-img.png"
            alt="Google Play"
            width="243"
            height="70"
          />
        </a>
      </div>
    </div>
  </div>
</section>
