<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Is this game suitable for beginners?
          </span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes — it’s easy to learn and gradually introduces complexity.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Are the levels timed? </span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">No — you can play at your own pace.</p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Does the difficulty increase? </span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes — layouts become more challenging as you progress.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Are hints available? </span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">Yes — helpful hints assist when needed.</p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Can I play casually? </span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Absolutely. The game is designed for relaxed sessions.
        </p>
      </li>
    </ul>
  </div>
</section>
