<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">How to Play</h2>
      <div class="gameplay-content-wrapper">
        <div class="gameplay-img-wrapper">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="306"
            height="363"
            loading="lazy"
          />
        </div>
        <ul class="gameplay-list gameplay-top-list">
          <li class="gameplay-list-item">
            <p class="gameplay-item-text">
              Match identical Mahjong tiles to remove them from the board
            </p>
          </li>
          <li class="gameplay-list-item">
            <p class="gameplay-item-text">Only free tiles can be selected</p>
          </li>
          <li class="gameplay-list-item">
            <p class="gameplay-item-text">
              Clear all tiles to complete a level
            </p>
          </li>
        </ul>
        <ul class="gameplay-list gameplay-bottom-list">
          <li class="gameplay-list-item">
            <p class="gameplay-item-text">
              Unlock new trails and environments as you progress
            </p>
          </li>
          <li class="gameplay-list-item">
            <p class="gameplay-item-text">
              Use helpful hints when puzzles get tricky
            </p>
          </li>
          <li class="gameplay-list-item">
            <p class="gameplay-item-text">
              Same Mahjong rules you already know, but still interesting
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
