<header class="header">
  <div class="header-bg-wrapper">
    <div class="container header-container">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#home">Home</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#about">About</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#gameplay"
              >How To Play</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#features">Features</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#advantages"
              >What makes It Special</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#reviews">Reviews</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#faq">FAQ</a>
          </li>
        </ul>
        <button class="nav-btn" type="button" aria-label="Open mobile menu">
          <svg class="menu-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </nav>
    </div>
  </div>
</header>
