<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-title-desk.png"
            media="(min-width: 1440px)"
            width="622"
            height="278" />
          <source
            srcset="./img/hero/hero-title-mob.png"
            width="335"
            height="150" />
          <img
            class="hero-title-img"
            src="./img/hero/hero-title-mob.png"
            alt="Title"
            width="335"
            height="150"
        /></picture>
        <a
          class="hero-btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.megazebra.mahjongtrails&hl=en&gl=us"
          rel="noopener noreferrer"
          aria-label="Download on Google Play"
        >
          <img
            class="hero-play-img"
            src="./img/hero/hero-play-img.png"
            alt="Google Play"
            width="243"
            height="70"
          />
        </a>
      </div>
    </div>
  </div>
</section>
