<div class="context-menu">
  <div class="container context-container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="48" height="48">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#about">About</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gameplay"
            >How To Play</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#features">Features</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#advantages"
            >What makes It Special</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#reviews">Reviews</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#faq">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
