<section class="uniqueness-section section" id="uniqueness">
  <div class="uniqueness-bg-wrapper">
    <div class="container uniqueness-container">
      <h2 class="section-title uniqueness-title">Uniqueness</h2>
      <div class="uniqueness-swiper-container">
        <ul class="swiper-wrapper uniqueness-swiper-wrapper">
          <li class="swiper-slide uniqueness-slide">
            <img
              class="uniqueness-img"
              src="./img/uniqueness/uniqueness-img1.png"
              alt="Screenshot of the game"
              width="305"
              height="302"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide uniqueness-slide">
            <img
              class="uniqueness-img"
              src="./img/uniqueness/uniqueness-img2.png"
              alt="Screenshot of the game"
              width="305"
              height="302"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide uniqueness-slide">
            <img
              class="uniqueness-img"
              src="./img/uniqueness/uniqueness-img3.png"
              alt="Screenshot of the game"
              width="305"
              height="302"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide uniqueness-slide">
            <img
              class="uniqueness-img"
              src="./img/uniqueness/uniqueness-img4.png"
              alt="Screenshot of the game"
              width="305"
              height="302"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide uniqueness-slide">
            <img
              class="uniqueness-img"
              src="./img/uniqueness/uniqueness-img5.png"
              alt="Screenshot of the game"
              width="305"
              height="302"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
      <div class="controls uniqueness-controls">
        <button
          class="arrow-btn"
          id="uniquenessLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="44" height="44">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="uniquenessRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="44" height="44">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
